/* Bouton dans le header
----------------------------------------------------------------*/
.conteneur-bouton{
    width: 100%;
    display: flex;
    justify-content: center;
}

header button{
    width: 10rem;
    height: 2.2rem;
    margin-top: 5rem;
    padding: 10px 24px;
    border: none;
    box-shadow: 0.2rem 0.2rem;
    border-radius: 10px;
    transform: scale(1);
    transition: 0.3s;
    background-image: linear-gradient(120deg, var(--bouton-couleur1), var(--bouton-couleur2));
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.875rem);
}

header button:hover{
    background-image: linear-gradient(120deg, var(--bouton-couleur1-hover), var(--bouton-couleur2-hover));
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}

header button:active{
    transform: scale(0.9);
}

/* Bouton du header pour plus grands écrans
----------------------------------------------------------------------------*/
@media screen and (min-width: 1080px){
    header button{
        margin-top: 2rem;
        width: 15rem;
        height: 3rem;
    }

    .conteneur-bouton{
        justify-content: flex-start;
    }
}
