#entete {
    min-height: 70vh;
    background-position: 50% 27%;
    background-image: url("images/github.png");
    background-size: cover;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}

/* Menu dans le header
---------------------------------------------------------------*/
#entete ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#entete a {
    width: 5rem;
    color: var(--couleur-evenements);
    text-decoration: none;
    padding: 0.5rem;
    transition: 0.3s;
    font-size: clamp(0.813rem, 0.435rem + 1.207vw, 1.25rem);
    display: flex;
    justify-content: center;
}

#entete a:hover{
    color: var(--couleur-arriere-entete);
    background-color: var(--couleur-arriere-galerie);
}

/* L'image du header change de position avec le viewport
-----------------------------------------------------------------*/
@media screen and (min-width: 1080px){
    #entete{
        min-height: 90vh;
        background-size: 20%;
        background-position: 90% 50%;
    }
}