/* Remise a 0 
-----------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* Debut CSS Global 
-----------------------------------------------------------------------*/
body {
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
}

.global {
    display: flex;
    justify-content: center;
    min-height: 40vh;
}

.global > section, 
.global > header, 
.global > footer {
    // flex basis pour determiner dimension de base de chaque section
    flex: 0 1 900px;
    padding: 3rem 1rem;
    min-width: var(--largeur-global-min);
    max-width: var(--largeur-global-max);
    background-color: rgba(255, 255, 255, var(--transparence-section));
}

/* Les Sections 
-------------------------------------------------------------------------*/
#entete, #footer {
    min-height: 20vh;
}

#entete {
    background-color: var(--couleur-arriere-entete);
}

#acceuil {
    background-color: var(--couleur-arriere-acceuil);
}

#evenements {
    background-color: var(--couleur-arriere-evenements);
}

#gallerie {
    background-color: var(--couleur-arriere-gallerie);
}

#footer {
    background-color: var(--couleur-arriere-footer);
}