:root {
    /* Calcul des teintes 
    -----------------------------------------------------------------*/
    --u1: 181; // Couleur initiale
    --u2: calc(var(--u1) + 180); // Couleur complémentaire
    --u3: calc(var(--u2) - 30); // Couleur analogue gauche
    --u4: calc(var(--u2) + 30); // Couleur analogue droite

    /* Saturation + Luminositée 
    -----------------------------------------------------------------*/
    --s-arriere-plan: 100%;
    --s-avant-plan: 50%;
    --l-arriere-plan: 30%;
    --l-avant-plan: 42%;

    /* Couleurs d'arriere-plan
    -----------------------------------------------------------------*/
    --couleur-arriere-entete: hsl(var(--u1), 100%, 25%);
    --couleur-arriere-menu: hsl(var(--u1), 100%, 40%);
    --couleur-arriere-acceuil: hsl(var(--u1), 100%, 20%);
    --couleur-arriere-evenements: hsl(var(--u1), 100%, 15%);
    --couleur-arriere-galerie: hsl(var(--u1), 100%, 10%);
    --couleur-arriere-footer: hsl(var(--u1), 100%, 25%);

    /* Couleurs d'avant-plan 
    -----------------------------------------------------------------*/
    --couleur-entete: hsl(var(--u1), 100%, 30%);
    --couleur-menu: hsl(var(--u1), 100%, 20%);
    --couleur-acceuil: hsl(var(--u2), 100%, 25%);
    --couleur-evenements: hsl(var(--u3), 100%, 15%);
    --couleur-galerie: hsl(var(--u4), 100%, 10%);
    --couleur-footer: hsl(var(--u1), 100%, 5%);

    /* Niveaux transparence sections */
    --transparence-section: 0.3;

    /* Largeur de la zone centrale 
    -----------------------------------------------------------------*/
    --largeur-global-min: 10vw;
    --largeur-global-max: 80vw;

    /* Couleurs complémentaires (180deg)
    -----------------------------------------------------------------*/
    --couleur-premiere-lettre: #80FDFF;
    --couleur-lien: #007D80;
    --couleur-texte-menu: hsl(var(--u1), 60%, 10%);

    /* ======================
     *   VARIABLES LOCALES  *
    ========================*/
    /* Couleur des cartes
    ------------------------------------------------------------------*/
    .carte {
        --_couleur-arriere: hsl(var(--u1),100%, 50% );
    }

    /* Couleur des vagues
    -------------------------------------------------------------------*/
    #entete .vague .remplissage {
        --_couleur-arriere-vague: var(--couleur-arriere-acceuil);
    }

    #galerie .vague .remplissage {
        --_couleur-arriere-vague: var(--couleur-arriere-footer);
    }
}