:root {
    /* Couleurs des arriere-plans */
    // --couleur-arriere-entete: rgba(0, 0, 0, 0.9);
    // --couleur-arriere-acceuil: rgba(4, 194, 4, 0.5);
    // --couleur-arriere-evenements: rgba(27, 151, 3, 0.7);
    // --couleur-arriere-gallerie: rgba(255, 196, 0, 0.7);
    // --couleur-arriere-footer: rgba(0, 0, 0, 0.9);

    // /* Niveaux de transparence des H */
    // --transparence-h1: 0.4;
    // --transparence-h2: 0.5;
    // --transparence-h3: 0.6;
    // --transparence-h4: 0.7;
    // --transparence-h5: 0.8;
    // --transparence-h6: 1;

    /* Calcul des teintes 
    -----------------------------------------------------------------*/
    --u1: 181; // Couleur initiale
    --u2: calc(var(--u1) + 180); // Couleur complémentaire
    --u3: calc(var(--u2) - 30); // Couleur analogue gauche
    --u4: calc(var(--u2) + 30); // Couleur analogue droite

    /* Saturation + Luminositée 
    -----------------------------------------------------------------*/
    --s-arriere-plan: 100%;
    --s-avant-plan: 50%;
    --l-arriere-plan: 30%;
    --l-avant-plan: 42%;

    /* Couleurs d'arriere-plan
    -----------------------------------------------------------------*/
    --couleur-arriere-entete: hsl(var(--u1), 100%, 25%);
    --couleur-arriere-acceuil: hsl(var(--u1), 100%, 20%);
    --couleur-arriere-evenements: hsl(var(--u1), 100%, 15%);
    --couleur-arriere-gallerie: hsl(var(--u1), 100%, 10%);
    --couleur-arriere-footer: hsl(var(--u1), 100%, 25%);

    /* Couleurs d'avant-plan 
    -----------------------------------------------------------------*/
    --couleur-entete: hsl(var(--u1), 100%, 30%);
    --couleur-acceuil: hsl(var(--u2), 100%, 25%);
    --couleur-evenements: hsl(var(--u3), 100%, 15%);
    --couleur-gallerie: hsl(var(--u4), 100%, 10%);
    --couleur-footer: hsl(var(--u1), 100%, 5%);

    /* Niveaux transparence sections */
    --transparence-section: 0.3;

    /* Largeur de la zone centrale 
    -----------------------------------------------------------------*/
    --largeur-global-min: 10vw;
    --largeur-global-max: 70vw;
}