:root {
    /* Calcul des teintes 
    -----------------------------------------------------------------*/
    --u1: 181; // Couleur initiale
    --u2: calc(var(--u1) + 180); // Couleur complémentaire
    --u3: calc(var(--u2) - 30); // Couleur analogue gauche
    --u4: calc(var(--u2) + 30); // Couleur analogue droite

    /* Saturation + Luminositée 
    -----------------------------------------------------------------*/
    --s-arriere-plan: 100%;
    --s-avant-plan: 50%;
    --l-arriere-plan: 30%;
    --l-avant-plan: 42%;

    /* Couleurs d'arriere-plan
    -----------------------------------------------------------------*/
    --couleur-arriere-entete: hsl(var(--u1), 100%, 25%);
    --couleur-arriere-acceuil: hsl(var(--u1), 100%, 20%);
    --couleur-arriere-evenements: hsl(var(--u1), 100%, 15%);
    --couleur-arriere-galerie: hsl(var(--u1), 100%, 10%);
    --couleur-arriere-footer: hsl(var(--u1), 100%, 25%);

    /* Couleurs d'avant-plan 
    -----------------------------------------------------------------*/
    --couleur-entete: hsl(var(--u1), 100%, 30%);
    --couleur-acceuil: hsl(var(--u2), 100%, 25%);
    --couleur-evenements: hsl(var(--u3), 100%, 15%);
    --couleur-galerie: hsl(var(--u4), 100%, 10%);
    --couleur-footer: hsl(var(--u1), 100%, 5%);

    /* Niveaux transparence sections */
    --transparence-section: 0.3;

    /* Largeur de la zone centrale 
    -----------------------------------------------------------------*/
    --largeur-global-min: 10vw;
    --largeur-global-max: 70vw;

    /* Couleurs complémentaires (180deg)
    -----------------------------------------------------------------*/
    --couleur-premiere-lettre: hsl(var(--u2), 100%, 50%);

    /* Couleurs du bouton du header
    ------------------------------------------------------------------*/
    --bouton-couleur1: hsl(var(--u3), 50%, 20%);
    --bouton-couleur2: hsl(var(--u3), 25%, 45%);
    --bouton-couleur1-hover: hsl(var(--u3), 50%, 40%);
    --bouton-couleur2-hover: hsl(var(--u3), 40%, 60%);

    /* Couleur diagonale
    -----------------------------------------------------------------*/
    --couleur-diagonale: hsl(var(--u2), 40%, 20%);

    /* Couleur des liens du menu et couleur une fois visités ou survolés
    -----------------------------------------------------------------*/
    --couleur-lien: hsl(var(--u2), 60%, 50%);
    --couleur-lien-visite: hsl(var(--u4), 40%, 50%);
    --couleur-lien-hover: hsl(var(--u4), 50%, 20%);
}