
// DIV
#erreur_404 {
    height: 100vh;
    top: 23rem;
    text-align: center;
    flex-wrap: wrap;

    @media screen and (min-width: 700px) {
        top: 30rem;
    }
}

#erreur_404 > section {
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    background-color: hsl(204, 74%, 67%);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px hsl(204, 74%, 67%);

    @media screen and (min-width: 700px) {
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Bouton retour 4w4
#erreur_404 > section > a {
    width: 10rem;
    text-decoration: none;
    padding: 5px;
    border: 2px solid hsl(204, 74%, 67%);
    color: white;
}

#erreur_404 > section > a:hover {
    transform: scale(1.1);
    transition: 1s transform ease-in-out;
}

// SECTION
#erreur_404 section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#erreur_404 > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;
}

// Menu section
#menu_404 {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 2rem;
    flex: 1 0 200px;
}

#menu_404 > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    flex-wrap: wrap;
    flex: 1 0 200px;
    padding: 0;
}

#menu_404 > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 700px) {
        flex: 0 0 150px;
    }
}

#menu_404 > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

#menu_404 > ul > li > a:hover {
    transform: scale(1.1);
    transition: 1s transform ease-in-out;
}

.logo_404 {
    display: none;

    @media screen and (min-width: 700px) {
        display: flex;
        width: 400px;
        height: 400px;
        margin: 2rem;
    }
}

// Barre de recherche
#erreur_404 > section > form {
    justify-self: center;
    align-self: center;
}

// Bouton recherche 
#erreur_404 > section > form > button {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Logo recherche
#erreur_404 > section > form > button > span > svg {
    filter: invert(1);
}

