// Le input field 
form.recherche .recherche__input {
    background-color: white;
    width: 50%;

    @media screen and (min-width: 700px){
        width: 20%;
    }
}

// Le texte de placeholder
::placeholder {
    color: hsl(204, 47%, 41%);
    font-size: 1rem;
}

// Le bouton de recherche
form.recherche .recherche__bouton {
    width: 15%;
    background-color: var(--couleur-arriere-acceuil);
    border-radius: 50px;

    @media screen and (min-width: 700px){
        width: 4%;
    }
}
