.recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

// Le input field 
form.recherche .recherche__input {
    background-color: white;
    width: 100%;

    @media screen and (min-width: 700px){
        width: 100%;
    }
}

.recherche__bouton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche__icone > svg {
    width: 1.5rem;
    height: 1.5rem;
}

// Le texte de placeholder
::placeholder {
    color: hsl(204, 47%, 41%);
    font-size: 1rem;
}

// Le bouton de recherche
form.recherche .recherche__bouton {
    width: 15%;
    background-color: hsl(204, 47%, 41%);
    border-radius: 50px;

    @media screen and (min-width: 700px){
        width: 3%;
    }
}

#entete > section > form > button > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer > footer > div.recherche > form > button > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#entete > section > form > button > span > svg {
    filter: invert(1);   
}

#footer > footer > div.recherche > form > button > span > svg {
    filter: invert(1);
}
