.recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

// Le input field 
form.recherche .recherche__input {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: 100%;

    @media screen and (min-width: 700px){
        width: 100%;
    }
}

// Le bouton dde recherche
.recherche__bouton {
    width: 15%;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    color: white;
    transition: background-color 0.3s ease;

    @media screen and (min-width: 700px){
        width: 3%;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

// icone de loupe
.recherche__icone > svg {
    width: 1.5rem;
    height: 1.5rem;
}

// Le texte de placeholder
::placeholder {
    color: white;
    font-size: 1rem;
}

// Pour cacher le X par defaut de la barre de recherche
.recherche__input::-ms-clear {
    display: none; 
}

// Changement au X en question 
.recherche__input::-ms-clear::after {
    content: 'X'; 
    color: white; 
}

.recherche__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 50%;
    position: relative;
}

// Le style du X pour vider la barre de recherche
.recherche__input::-webkit-search-cancel-button::before {
    content: "";
    position: absolute;
    height: 1.2px;
    width: 6px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.recherche__input::-webkit-search-cancel-button::after {
    content: "";
    position: absolute;
    height: 1.2px;
    width: 6px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


#entete > section > form > button > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer > footer > div.recherche > form > button > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#entete > section > form > button > span > svg {
    filter: invert(1);   
}

#footer > footer > div.recherche > form > button > span > svg {
    filter: invert(1);
}
