
/*=============================================================================
 *   Liens intéressants:                                                      *
 *   https://chrisburnell.com/clamp-calculator/                               *
 *   https://developer.wordpress.org/themes/basics/main-stylesheet-style-css/ *
==============================================================================*/
/*
    Underscore pour pour empecher compilation du fichier
    en plusieurs fichiers css (avec fait en sorte que 1 css)
*/
h1 {
    font-weight: 900;
    font-style: normal;
    font-family: 'Playfair Display';
    font-size: clamp(2.875rem, 2.659rem + 0.69vi, 3.125rem);
}

h2 {
    font-weight: 500;
    font-size: clamp(1.875rem, 1.659rem + 0.69vi, 2.125rem);
    z-index: 0;
    position: relative;
}

#evenements h2 {
    z-index: 2;
    margin-bottom: 1rem;
}

#galerie h2 {
    margin: 0 0 1rem 0;

    @media screen and (min-width: 700px) {
        margin-top: 4rem;
    }
}

#footer h2 {
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 400;
    font-size: clamp(1.5rem, 1.392rem + 0.345vi, 1.625rem);
    padding-bottom: 1rem;
}

.carte > h3 {
    font-size: clamp(1.5rem, -2.969rem + 12.5vw, 2.5rem);
}

h4 {
    font-weight: 300;
    font-size: clamp(0.6rem, -3.156rem + 12.5vw, 2.875rem);
    z-index: 2;
    position: relative;
    padding-bottom: 1rem;
}

h5 {
    font-weight: 200;
    font-size: clamp(0.4rem, -3.281rem + 12.5vw, 2.5rem);
    padding-bottom: 1rem;
}

h6 {
    font-weight: 100;
    font-size: clamp(0.35rem, -3.594rem + 12.5vw, 2rem);
    padding-bottom: 2rem;
}
