
/*=============================================================================
 *   Liens intéressants:                                                      *
 *   https://chrisburnell.com/clamp-calculator/                               *
 *   https://developer.wordpress.org/themes/basics/main-stylesheet-style-css/ *
==============================================================================*/
/*
    Underscore pour pour empecher compilation du fichier
    en plusieurs fichiers css (avec fait en sorte que 1 css)
*/
h1 {
    font-weight: 600;
    font-style: normal;
    font-size: clamp(1.5rem, -2.656rem + 12.5vw, 4.375rem);
    padding-bottom: 1rem;
    color: var(--couleur-arriere-galerie);
}

h2 {
    font-weight: 500;
    font-size: clamp(1rem, -1.292rem + 7.333vw, 3.75rem);
    z-index: 2;
    position: relative;
    color: var(--couleur-arriere-galerie);
}

#galerie h2{
    color: var(--couleur-arriere-acceuil);
}

#evenements h2{
    color: var(--couleur-arriere-acceuil);
}

h3 {
    font-weight: 400;
    font-size: clamp(0.85rem, -2.969rem + 12.5vw, 2.90rem);
    padding-bottom: 1rem;
    color: var(--couleur-arriere-galerie);
}

.carte > h3 {
    font-size: clamp(0.85rem, -2.969rem + 12.5vw, 2rem);
}

h4 {
    font-weight: 300;
    font-size: clamp(0.6rem, -3.156rem + 12.5vw, 2.875rem);
    z-index: 2;
    position: relative;
    padding-bottom: 1rem;
    color: var(--couleur-arriere-acceuil);

}

h5 {
    font-weight: 200;
    font-size: clamp(0.4rem, -3.281rem + 12.5vw, 2.5rem);
    padding-bottom: 1rem;
}

#galerie h5{
    color: var(--couleur-arriere-acceuil);
}

h6 {
    font-weight: 100;
    font-size: clamp(0.35rem, -3.594rem + 12.5vw, 2rem);
    padding-bottom: 2rem;
}
