// Ajouter Vagues
// https://www.shapedivider.app/

// Couleurs HSL Adobe
// https://color.adobe.com/fr/create/color-wheel
// https://blog.logrocket.com/building-color-palette-css/
// https://blog.logrocket.com/using-hsl-colors-css/

// Clamp()
// https://chrisburnell.com/clamp-calculator/
// https://developer.mozilla.org/en-US/docs/Web/CSS/clamp

blockquote a{
    color: var(--couleur-lien);

    &:hover{
        color: var(--couleur-lien-hover);
    }

    &:visited{
        color: var(--couleur-lien-visite);
    }
}

p a{
    color: var(--couleur-lien);

    &:hover{
        color: var(--couleur-lien-hover);
    }

    &:visited{
        color: var(--couleur-lien-visite);
    }
}