.diagonale{
    position: relative;
}

.diagonale::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--couleur-diagonale);
    z-index: 1;
    transform: skewY(-5deg);
}

/** Pour adapter aux écrans plus larges **/
@media (min-width: 1080px){
    .diagonale::after{
        transform: skewY(-2deg);
        height: 22vw;
    }
}