.diagonale{
    position: relative;
}

.diagonale::before{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: hsl(204, 50%, 30%);
    z-index: 1;
    transform: skewY(-5deg);
}

/** Pour adapter aux écrans plus larges **/
@media (min-width: 1080px){
    .diagonale::before{
        transform: skewY(-2deg);
    }
}