.diagonale{
    position: relative;
}

.diagonale::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--couleur-arriere-evenements);
    z-index: 1;
    transform: skewY(-5deg);
}