.vague {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.vague svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

#entete > div.vague {
    fill: hsl(204, 47%, 41%);
}

// La vague du footer
#footer .vague {
    position: absolute;
    bottom: 100%;
    width: 100%;
    fill: hsl(204, 100%, 15%);
}

/** Pour mobile **/
@media (min-width: 767px) {
    .vague svg {
        width: calc(100% + 1.3px);
        height: 73px;
    }
}
/** Pour écrans plus larges **/
@media (max-width: 1080px) {
    .vague svg {
        width: calc(100% + 1.3px);
        height: 53px;
    }
}