/*===================
 ** Variables Sass **
====================*/
/* 
Palette de couleur 
----------------------------------------------*/
$--clr-bleu-pale : hsl(204, 74%, 67%);
$--clr-bleu-leger : hsl(204, 47%, 41%);
$--clr-bleu-moyen : hsl(204, 100%, 30%);
$--clr-bleu-fonce : hsl(204, 100%, 15%);

$--clr-orange-pale: hsl(40, 100%, 85%);
$--clr-orange-leger : hsl(40, 98%, 66%);
$--clr-orange-moyen : hsl(24, 95%, 58%);
$--clr-orange-fonce : hsl(34, 99%, 30%);

$--clr-rose-pale: hsl(320, 67%, 74%);
$--clr-rose-leger : hsl(320, 100%, 50%);
$--clr-rose-moyen : hsl(320, 100%, 30%);
$--clr-rose-fonce : hsl(320, 100%, 15%);

$--clr-vert-pale: hsl(70, 100%, 85%);
$--clr-vert-leger : hsl(70, 100%, 50%);
$--clr-vert-moyen : hsl(70, 100%, 30%);
$--clr-vert-fonce : hsl(70, 100%, 15%);

/* 
Map des couleurs:
---------------------------------------------------------
   À partir de la palette choisie on crée un mapping
   en catégorisant les différentes couleurs.
   Ce map contient un map principal et plusieurs sous-maps
----------------------------------------------------------*/
$defaut: (
    primaire : (100: $--clr-bleu-pale,
        200: $--clr-bleu-leger,
        300: $--clr-bleu-moyen,
        400: $--clr-bleu-fonce ),
    secondaire : (100: $--clr-orange-pale,
        200: $--clr-orange-leger,
        300: $--clr-orange-moyen,
        400: $--clr-orange-fonce ),
    ternaire : (100: $--clr-rose-pale,
        200: $--clr-rose-leger,
        300: $--clr-rose-moyen,
        400: $--clr-rose-fonce ),
    vert : (100: $--clr-vert-pale,
        200: $--clr-vert-leger,
        300: $--clr-vert-moyen,
        400: $--clr-vert-fonce )
);

/* 
Agencement de couleurs
---------------------------------------------------------------------------*/
$agencement-couleur :(primaire: ($--clr-bleu-fonce, ($--clr-bleu-pale, $--clr-bleu-leger)),
    secondaire: ($--clr-orange-fonce, $--clr-orange-pale),
    ternaire: ($--clr-rose-fonce, $--clr-rose-pale),
    vert: ($--clr-vert-fonce, $--clr-vert-pale));


/*==================
 ** VARIABLES CSS **
 ==================*/
:root {
    /* Calcul des teintes 
    -----------------------------------------------------------------*/
    --u1: 181; // Couleur initiale
    --u2: calc(var(--u1) + 180); // Couleur complémentaire
    --u3: calc(var(--u2) - 30); // Couleur analogue gauche
    --u4: calc(var(--u2) + 30); // Couleur analogue droite

    /* Saturation + Luminositée 
    -----------------------------------------------------------------*/
    --s-arriere-plan: 100%;
    --s-avant-plan: 50%;
    --l-arriere-plan: 30%;
    --l-avant-plan: 42%;

    /* Couleurs d'arriere-plan (avec HSL: Hue, Saturation, Lightness)
    -----------------------------------------------------------------*/
    --couleur-arriere-entete: hsl(var(--u1), 100%, 25%);
    --couleur-arriere-menu: hsl(var(--u1), 100%, 40%);
    --couleur-arriere-acceuil: hsl(var(--u1), 100%, 20%);
    --couleur-arriere-evenements: hsl(var(--u1), 100%, 15%);
    --couleur-arriere-galerie: hsl(var(--u1), 100%, 10%);
    --couleur-arriere-footer: hsl(var(--u1), 100%, 25%);

    /* Couleurs d'avant-plan 
    -----------------------------------------------------------------*/
    --couleur-entete: hsl(var(--u1), 100%, 30%);
    --couleur-menu: hsl(var(--u1), 100%, 20%);
    --couleur-acceuil: hsl(var(--u2), 100%, 25%);
    --couleur-evenements: hsl(var(--u3), 100%, 15%);
    --couleur-galerie: hsl(var(--u4), 100%, 10%);
    --couleur-footer: hsl(var(--u1), 100%, 5%);

    /* Niveaux transparence sections */
    --transparence-section: 0.3;

    /* Largeur de la zone centrale 
    -----------------------------------------------------------------*/
    --largeur-global-min: 10vw;
    --largeur-global-max: 80vw;

    /* Couleurs complémentaires (180deg)
    -----------------------------------------------------------------*/
    --couleur-premiere-lettre: #80FDFF;
    --couleur-lien: #007D80;
    --couleur-texte-menu: hsl(var(--u1), 60%, 10%);

    /* ======================
     *   VARIABLES LOCALES  *
    ========================*/
    /* Couleur des cartes
    ------------------------------------------------------------------*/
    .carte {
        --_couleur-arriere: hsl(var(--u1), 100%, 50%);
    }

    /* Couleur des vagues
    -------------------------------------------------------------------*/
    #entete .vague .remplissage {
        --_couleur-arriere-vague: var(--couleur-arriere-acceuil);
    }

    #galerie .vague .remplissage {
        --_couleur-arriere-vague: var(--couleur-arriere-footer);
    }
}